//  nav-bar --------------------------------------------------
.nav-bar {
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1160px;
}

img.logo-img {
    vertical-align: middle;
    // margin: 0 10px;
}

.nav {
    display: flex;
}

ul.nav__ul {
    display: inline-block;
    flex-wrap: wrap;
    padding: 25px 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

li.nav__li {
    display: inline-block;
}

a.nav__a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    margin: 0 10px;
}

a.nav__a:focus {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.75);
}

.nav__button-wrap {
    display: inline-block;
    margin: 18px 10px;
    padding: 2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.nav__button-wrap:hover {
    opacity: 0.5;
}

a.nav__button {
    border: none;
    border-radius: 22px;
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
    color: #BC9CFF;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    padding: 8px 18px;
}

a.nav__button-second {
    border: none;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #ffffff;
    display: inline-block;
    margin: 18px 0 18px 10px;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    padding: 10px 22px 10px 22px;
}

a.nav__button-second:hover {
    opacity: 0.5;
}

img.nav_drop {
    margin: 0 6px;
}