.nav
    .container
        .nav-bar__wrap
            img.logo-img(src="./img/logo.svg", alt="Logo")
            .nav
                ul.nav__ul
                    li.nav__li
                        a.nav__a(href="#") О нас
                        a.nav__a(href="#") Услуги 
                            img.nav_drop(src="./img/drop.svg")
                        a.nav__a(href="#") Вакансии
                        a.nav__a(href="#") Новости
                        a.nav__a(href="#") Соглашения
                            img.nav_drop(src="./img/drop.svg")
                .nav__button-wrap
                    a.nav__button(href="#") ВОЙТИ
                a.nav__button-second(href="#") ЗАРЕГИСТРИРОВАТЬСЯ