//  nav-bar --------------------------------------------------
.nav-bar {
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1160px;
    flex-wrap: wrap;
}

.nav-logo__img {
    margin: 15px 0;
}

.nav {
    display: flex;
}

.nav__ul {
    display: inline-block;
    flex-wrap: wrap;
    padding: 25px 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.nav__li {
    display: inline-block;
}

.nav__a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    margin: 0 10px;
}

.nav__a:focus {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.75);
}

.nav-user__ul {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

.nav-user__li {
    display: inline-block;
}

.nav-user__button-wrap {
    display: inline-block;
    margin: 18px 10px;
    padding: 2px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.nav-user__button-wrap:hover {
    opacity: 0.5;
}

.nav-user__button {
    border: none;
    border-radius: 22px;
    background-color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
    color: #BC9CFF;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    padding: 8px 19px 7px 18px;
}

.nav-user__button-second {
    border: none;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #ffffff;
    display: inline-block;
    margin: 18px 0 18px 10px;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    padding: 10px 22px 9px 21px;
}

.nav-user__button-second:hover {
    opacity: 0.5;
}

.nav_drop {
    margin: 0 6px;
}