nav.nav-bar
    .nav-bar__container
        a.nav-logo
            img.nav-logo__img(src="./img/logo.svg", alt="Logo")
        .nav-bar__links
            ul.nav__ul
                li.nav__li
                    a.nav__a О нас
                li.nav__li
                    a.nav__a Услуги 
                        img.nav_drop(src="./img/drop.svg", alt="Drop")
                li.nav__li
                    a.nav__a Вакансии
                li.nav__li
                    a.nav__a Новости
                li.nav__li
                    a.nav__a Соглашения
                        img.nav_drop(src="./img/drop.svg", alt="Drop")
            ul.nav-user__ul
                li.nav-user__li
                    .nav-user__button-wrap
                        a.nav-user__button ВОЙТИ
                li.nav-user__li
                    a.nav-user__button-second ЗАРЕГИСТРИРОВАТЬСЯ