.project-menu
    ul.project-menu__ul
        li.project-menu__li
            a.project-menu__link(href="index.pug") Landing Page
        li.project-menu__li
            a.project-menu__link(href="search.pug") Search Room
