.footer-2
    .footer-2__container
        .footer-2__text Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-2__social
            ul.footer-2__ul
                li.footer-2__li
                    img.logo-twitter(src="./img/twitter.svg")
                li.footer-2__li
                    img.logo-facebook(src="./img/facebook.svg")
                li.footer-2__li
                    img.logo-instagram(src="./img/instagram.svg")