.footer-2 {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px solid rgba(31, 32, 65, 0.25);
}

.footer-2__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1160px;
}

.footer-2__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 26px;
}

// .block-7 {
//     height: 30px;
//     background-color: tomato;
//     flex: 100px;
//     width: 200px;
// }

.footer-2__ul {
    padding: 0;
    margin: 0;
}

.footer-2__li {
    list-style-type: none;
    display: inline-block;
}

.footer-2__social {
    margin-top: 24px;
}

.logo-instagram {
    margin-right: 2px;
}

.logo-facebook {
    margin-right: 22px;
}

.logo-twitter {
    margin-right: 21px;
    margin-bottom: 1px;
}