.footer-1
    .footer-1__container
        .footer-1__block-1
            img.logo-img(src="./img/logo.svg", alt="Logo")
            p.footer-1__text Бронирование номеров в лучшем<br>отеле 2019 года по версии<br>ассоциации «Отельные взгляды»
        .footer-1__block-2
            h3.footer-1__title Навигация
            a(href="#").footer-1__link О нас
            a(href="#").footer-1__link Новости
            a(href="#").footer-1__link Служба поддержки
            a(href="#").footer-1__link Услуги
        .footer-1__block-3
            h3.footer-1__title О нас
            a(href="#").footer-1__link О сервисе
            a(href="#").footer-1__link Наша комманда
            a(href="#").footer-1__link Вакансии
            a(href="#").footer-1__link Инвесторы
        .footer-1__block-4
            h3.footer-1__title Служба поддержки
            a(href="#").footer-1__link Соглашения
            a(href="#").footer-1__link Сообщества
            a(href="#").footer-1__link Связь с нами
        .footer-1__block-5
            h3.footer-1__title Подписка
            p.footer-1__text Получайте специальные<br>предложения и новости сервиса
                .footer-1__sub
                input(value='Email').footer-1__sub-input
                form.footer-1__sub-form(action='#')
                    button.footer-1__sub-btn
                        img.footer-1__sub-arrow(src="./img/arrow_forward.svg")