.footer-1 {
    height: 372px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.footer-1__container {
    display: flex;
    // justify-content: flex-start;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1160px;
}

.footer-1__block-1 {
    width: 300px;
    margin-top: 100px;
}

.footer-1__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 18px;
    // margin-bottom: 0;
}

.footer-1__block-2 {
    width: 200px;
    margin-top: 92px;
}

.footer-1__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    color: #1F2041;
}

.footer-1__ul {
    padding: 0;
}

.footer-1__li {
    list-style-type: none;
}

.footer-1__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: rgba(31, 32, 65, 0.5);
    display: block;
    margin-top: 20px;
    text-decoration: none;
}

.footer-1__block-3 {
    width: 200px;
    margin-top: 92px;
}

.footer-1__block-4 {
    width: 200px;
    margin-top: 92px;
}

.footer-1__block-5 {
    width: 260px;
    margin-top: 92px;
}

.footer-1__sub {
    margin-top: 23px
}

.footer-1__sub-input {
    width: 216px;
    height: 44px;
    left: 141px;
    top: 163px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px;
    color: rgba(31, 32, 65, 0.25);
    border-right: none;
}

.footer-1__sub-form {
    display: inline-block;
    vertical-align: top;
}

.footer-1__sub-btn {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    text-align: left;
    padding: 0 12px;
    vertical-align: middle;
    position: relative;
    border-left: none;
}

.footer-1__sub-arrow {
    position: absolute;
    right: 12px;
    top: 12px;
}