@import 'normalize.css';

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf');
    font-weight: bold;
    font-style: normal; 
}


$color_h1: tomato;

h1 {
    color: $color_h1;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #1F2041;
}


@media (min-width: 1200px){
    .container {
        max-width: 1160px;
    }
}

.container {
    // width: 1160px;
    margin: 0 auto;
    height: 100%;
    background-color: beige;
}

.nav {
    height: 70px;
}

.content {
    height: 830px;
    background: url(./img/image.png) no-repeat;
    background-size: cover;
}