@import 'normalize.css';
@import './blocks/project-menu/project-menu';
@import './blocks/nav-bar/nav-bar';
@import './blocks/content/content';
@import './blocks/footer-1/footer-1';
@import './blocks/footer-2/footer-2';


@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf');
    font-weight: bold;
    font-style: normal; 
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
