<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registration
        link(rel='stylesheet' href='main.scss')
    body
        include blocks/project-menu/project-menu        
        header
            include blocks/nav-bar/nav-bar
        main
            .reg-content
        footer
            include blocks/footer-1/footer-1
            include blocks/footer-2/footer-2
        script(src='./main.js')