.content
    .content__container
        .card-1
            h1.card-1__title Найдём номера под ваши пожелания
            .card-1__block-1
                .card-1__block-2
                    h3.card-1__h3 ПРИБЫТИЕ
                    button.card-1__dropdown-1 ДД.ММ.ГГГГ
                        img.card-1__drop(src="./img/drop.svg")
                .card-1__block-2
                    h3.card-1__h3 ВЫЕЗД
                    button.card-1__dropdown-1 ДД.ММ.ГГГГ
                        img.card-1__drop(src="./img/drop.svg")
            .card-1__block-3
                h3.card-1__h3 ГОСТИ
                button.card-1__dropdown-2 Сколько гостей
                    img.card-1__drop(src="./img/drop.svg")
            a.card-1__button ПОДОБРАТЬ НОМЕР
                img.card-1__arrow(src="./img/arrow.svg")
        p.sign__text Лучшие номера для вашей работы,<br>отдыха и просто вдохновения 